@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-flow-x-center {
    left: 50%;
    transform: translateX(-50%);
  }
  .no-flow-y-center {
    top: 50%;
    transform: translateY(-50%);
  }
}
